USERNAME_EMAIL_NOTIFICACAO=
PASSWORD_EMAIL_NOTIFICACAO=
KEY_API_CITACAO=
PORTA_NOTIFICACAO=
NOME_REMETENTE_EMAIL_NOTIFICACAO=
HOST_EMAIL_NOTIFICACAO=
PORTA_EMAIL_NOTIFICACAO=
URL_API_CITACAO=

URL_API_VIACEP=
SPRING_DATASOURCE_URL_USUARIO=
SPRING_DATASOURCE_USERNAME_USUARIO=
SPRING_DATASOURCE_PASSWORD_USUARIO=
PORTA_USUARIO=

SPRING_DATASOURCE_URL_AGENDADOR=
SPRING_DATASOURCE_USERNAME_AGENDADOR=
SPRING_DATASOURCE_PASSWORD_AGENDADOR=
PORTA_AGENDADOR=

EMAIL_ADMIN=
SENHA_ADMIN=
NOME_ADMIN=
PORTA_BFF=

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
PORTA_POSTGRES=5433

SECRET_KEY_JWT=